[2019-02-04 12:01] proulxwz opened #1 "Incorrect highlighting for DO / END"
This code shows incorrect highlighting for DO/ENDDO
(********************************)
WHILE[1.EQ1.]DO1(MAIN*LOOP)
(********************************)
#3004=0
#28=0(LOOP*CHECKING)
WHILE[ABS[#[#5+7.]]LT0.1]DO2(WAIT*FOR*OPCODE)
G04X#[#31+10.]
#28=#28+1
IF[#28 LT 5000] GOTO300
#33=78
GOTO9000
N300
END2

![image](https://user-images.githubusercontent.com/47320932/52207158-cfde0300-287c-11e9-82fd-6a6d31

[2019-02-04 12:03] proulxwz opened #2 "Math expressions incorrectly highlighted"
Please see this screenshot:
![image](https://user-images.githubusercontent.com/47320932/52207239-17648f00-287d-11e9-9d5a-2217b361af1a.png)

Note that this line:
WHILE[ABS[#[#5+7.]]LT0.1]DO2(WAIT*FOR*OPCODE)

has the ABS function incorrectly highlighting the "S"

[2019-02-04 12:06] proulxwz opened #3 "Enhancement: Support for square brackets"
Please see in this screenshot how square brackets are used for complex variable assingment and for logic evaluation:

![image](https://user-images.githubusercontent.com/47320932/52207362-85a95180-287d-11e9-8dce-bedb635283eb.png)

It would be useful to have the brackets/content highlighed and also when used in complex variable assignments clearly depicted as variables

[2019-02-04 20:55] mikecentola commented on #3
Do you think that the highlighting of a bracket should override any highlighting inside? Highlighting the brackets themselves should be easy.

[2019-02-04 21:15] mikecentola commented on #1
Fixed this. Will release v0.1.1 here shortly.

[2019-02-04 22:57] mikecentola commented on #1
@proulxwz Just published v0.1.1 to the marketplace. Let me know if that fixes the issues. Thanks!

[2019-02-04 22:58] mikecentola commented on #2
@proulxwz Just published v0.1.1 to the marketplace. Let me know if that fixes the issues. Thanks!

[2019-02-06 17:16] mikecentola commented on #2
@proulxwz let me know if this didn't work. will close issue by EOB today.

[2019-02-06 17:16] mikecentola commented on #1
Closing issue by EOB today unless its still not working

[2019-02-07 08:10] proulxwz commented on #2
Works fine now.   Looks good.

[2019-02-07 08:11] proulxwz commented on #1
Looks good now!  Thanks

[2019-02-07 17:12] mikecentola commented on #1
Great!

[2019-02-07 17:12] #1 closed

[2019-02-07 17:13] mikecentola commented on #2
Great!

[2019-02-07 17:13] #2 closed

[2019-08-30 16:34] shapesorter commented on #3
I prefer the full set of brackets to be stand out, in programs I tried to make it like this:
![image](https://user-images.githubusercontent.com/7110465/64036964-755f0980-cb22-11e9-93b2-994ff7ae2119.png)

[2019-08-30 16:38] shapesorter opened #4 "Support for coloring .eia files"
Is it possible for me to make .eia files use this scheme, I cant seem to add it to the list in a Json.

[2019-09-02 15:54] mikecentola commented on #4
I'll add it to the next hotfix :)

[2019-09-04 15:17] shapesorter commented on #4
Thank You, I like your coloring scheme for the most part, I am a bit out of my element offering help, but I will be using it for now.  Thank you for putting it out there for me to use, and getting back to me so fast.

[2019-09-09 15:29] mikecentola commented on #4
Absolutely! I'm trying to get back into the swing of things and do more development on this project :)

[2019-09-27 10:11] shapesorter commented on #4
So, I realized a few days ago that I can enable coloring to work on the .EIA files as you have it set up now.  I needed to uconfigure it properly.  I can associate any file type.  I should now tell myself to read the documentation.
![image](https://user-images.githubusercontent.com/7110465/65761802-90a34180-e0ed-11e9-8eba-b01a88604224.png)

[2020-01-02 01:21] mikecentola commented on #4
Fixed in v0.2.0

[2020-01-02 01:21] #4 closed

[2020-01-02 01:21] mikecentola commented on #3
Fixed in v0.2.0

[2020-01-02 01:21] #3 closed

[2020-01-11 00:42] Psychlist1972 opened #5 "Missing activity bar icon"
Activity bar icon is empty. 4k screen at 100% DPI.

![Annotation 2020-01-10 194026](https://user-images.githubusercontent.com/1421146/72195630-3ea6d300-33e1-11ea-8755-c4ac14f9e38c.jpg)

[2020-01-11 00:44] Psychlist1972 opened #6 "Outline view not useful: shows a node for every line"
I would have expected the move/cutting operations to be grouped. Is this the expected output?

![image](https://user-images.githubusercontent.com/1421146/72195686-9e04e300-33e1-11ea-8e10-3e5459a4f185.png)

[2020-01-11 09:50] BernardG opened #7 "Question: How to add an extension?"
For a French CNC Machines builder, they need a .PRG extension to recognize the G-Code file. What would I need to do to add this extension to those already recognized?

I saw they are listed in package.json, but I guess adding an extension there might not be enough?

Thanks for your help,
Bernard

[2020-01-12 02:35] mikecentola commented on #7
I will add it to the 0.3.1 hotfix.

[2020-01-12 02:39] mikecentola commented on #6
It bases the tree nodes on the G00/G01/G02/G03 commands. Since you have a G1 on each line, it's technically working as intended. You don't need a G1 on lines following. I could add some kind of logic to determine if it should suppress some of that but its doing a linear move each time.

[2020-01-12 02:40] mikecentola commented on #5
That's not right. I'll see whats going on and add it to a hotfix.

[2020-01-12 02:51] mikecentola commented on #5
Moved the icon into the resources folder instead. Let's see if that fixes it for you. 0.3.1 incoming.

[2020-01-12 03:01] mikecentola commented on #7
Added to [v0.3.1](https://github.com/appliedengesign/vscode-gcode-syntax/releases/tag/v0.3.1)

[2020-01-12 03:01] #7 closed

[2020-01-12 03:07] mikecentola commented on #5
Just pushed it out. Let me know if that fixed it.

[2020-01-12 08:02] Psychlist1972 commented on #6
Thanks. Not my gcode; it's a sample file that came with an inexpensive 3018 CNC router.

I'm not sure if any other CAM programs generate code with the modal command on each line.

[2020-01-12 10:34] BernardG commented on #7
Thanks!

[2020-01-12 10:39] BernardG opened #8 "G-Code Tree disappear from available views"
It has been working, so I am not sure what I did, but now I am unable to display the tree view, which, to me, is very handy to have. How do I get it back?

![image](https://user-images.githubusercontent.com/2795161/72217565-1c6f9b00-3530-11ea-8dc5-cde70e54a457.png)

[2020-01-12 13:52] mikecentola commented on #6
I know in the CAM program I use (RhinoCAM) the post processor has options to “optimize” code which will output the Modal and then just X Y or Z changes.

I’ll close this for now. Thanks

[2020-01-12 13:52] #6 closed

[2020-01-12 13:54] mikecentola commented on #8
The extension is written to hide the tree view when you’re not viewing a gcode file. Maybe I’ll change it to clear it and disable refresh but not hide it.

Is it missing even when you’re viewing a gcode file?

[2020-01-12 23:54] BernardG commented on #8
Yes, once it has been disappearing, it does not show again when getting back to the G-Code file, and it's not available in the  view list, as shown on the screen shot.

[2020-01-13 00:45] mikecentola commented on #8
Ok let me pull it up tomorrow and take a look at the activation code.

[2020-01-19 20:23] mikecentola commented on #5
@Psychlist1972 did the update fix it for you?

[2020-01-29 03:56] CodeDabbler23 opened #9 "Markup issue with division symbol"
There is an issue with the markup associated with the division symbol caused by block commenting.
Please see the attached photo.
Really love your extension for managing CNC code - nice work!

![DivisionSymbolMarkup](https://user-images.githubusercontent.com/35739725/73326641-e82ef680-4220-11ea-8138-78a75f1d9719.png)

[2020-02-06 22:22] mikecentola commented on #9
Working on a hotfix for it right now. Thanks for the kind words!

[2020-02-06 22:54] mikecentola commented on #9
Just pushed v0.3.2 and removed that line. @CodeDabbler23 please confirm and I'll close the issue. Thanks!

[2020-02-07 03:50] CodeDabbler23 commented on #9
Looks good - thanks!!
I have some other thoughts and ideas, what is the best way to communicate those to you?

[2020-02-07 16:37] mikecentola commented on #9
Keybase chat, Facebook, Twitter, or email me? Should be able to find me pretty easily ;)

[2020-02-07 16:37] #9 closed

[2020-02-07 16:38] mikecentola commented on #5
Closing this.

[2020-02-07 16:38] #5 closed

[2020-05-11 09:24] #8 closed

[2020-10-05 16:40] kleerkoat opened #11 "add custom file type?"
is it possible to add a custom file type? thank you

[2020-10-12 13:41] mikecentola commented on #11
Sure what would you like me to add?

[2020-10-13 01:41] mikecentola commented on #11
Added to dev code and will release with 0.4.0 in the next day or two.

[2020-10-15 11:46] Bastien42 opened #12 "Add a new type of machine"
Is it possible to add a new type of machine with the new m and g code associated with it

coordinate grinding i'll link the g and m code related to the machine it will be in french i can make the translation for you in english if you want
[M code.pdf](https://github.com/appliedengdesign/vscode-gcode-syntax/files/5384539/M.code.pdf)
[G code.pdf](https://github.com/appliedengdesign/vscode-gcode-synt

[2020-10-15 13:38] mikecentola commented on #12
I'm actually working on the ability to have the machine change actually do something. I want it to change snippets and coloring based on the machine type. It might be a little bit to get that all set but I'll keep you updated. Thanks for the suggestion!

[2020-10-15 14:41] mikecentola opened #13 "Colorization without leading zero"
From a review over on marketplace. Coloring doesn't work right when there is no leading zero. i.e: ```X.1``` vs ```X0.1```

[2020-10-15 18:15] mikecentola commented on #11
Just released 0.4.0 with this added :)

[2020-10-15 18:15] #11 closed

[2020-10-15 23:48] mikecentola commented on #13
Fixed in dev branch. Will release with 0.4.1

[2020-12-13 12:59] 85vmh opened #14 ".ngc file support for LinuxCnc"
Natively, the LinuxCnc files have .ngc extension
Can you please add suport for this extension too?
I've renamed a file to have .nc extension and it works fine, just that the .ngc files are not recognized by default.
Thanks for the great work!

[2020-12-21 20:49] #12 closed

[2020-12-22 05:55] #13 closed

[2020-12-28 21:24] mikecentola commented on #14
Yup not a problem! Will add it to the next update :)

[2021-01-20 03:54] Blackblade1941 opened #15 "File Extensions for Okuma OSP controls"
You have .min (main program) extension for OSP control but there are a few other commonly used extensions when programming for the OSP as well:

.ssb (System Sub Program)
.sub (User Sub Program)
.lib (Library Program)

Would it be possible to add these in as well?

[2021-01-24 05:25] anzory opened #16 "Сolorization of the G-code with a dot"
If the G-code is with a dot, the colorization of the G-code does not work.
For example G68.2
 (used in FANUC Series 30i/300i/300is-MODEL A, FANUC Series 31i/310i/310is-MODEL A, FANUC Series 32i/320i/320is-MODEL A)
![image](https://user-images.githubusercontent.com/1932867/105621921-6fac4700-5e2e-11eb-9c5b-e005ceca581d.png)

[2021-02-03 20:07] mikecentola commented on #16
Will add it to the next update Thanks!

[2021-02-03 20:08] mikecentola commented on #15
I'll get this added to the next update! Thanks!

[2021-02-04 03:36] mikecentola commented on #14
Fixed in 0.4.1 just uploaded!

[2021-02-04 03:36] #14 closed

[2021-02-04 03:37] mikecentola commented on #15
Fixed in 0.4.1 just uploaded!

[2021-02-04 03:37] #15 closed

[2021-02-04 03:37] mikecentola commented on #16
Fixed in 0.4.1 just uploaded!

[2021-02-04 03:37] #16 closed

[2021-02-12 03:10] shadowbane900 opened #17 "Line Numbering"
add Line numbering/ renumbering function

[2021-02-14 21:07] InkRF opened #18 ""Command 'gcode.gcodeTree.refresh" not found""
In the past, the extension has worked fine for me, but up until recently when I had to write another program, the gcode tree would just appear blank. Clicking the refresh button gave me the "Command 'gcode.gcodeTree.refresh" not found" message. Uninstalling/installing it did not seem to do anything, so I'm curious as to what I can do to get the gcode tree to show all my commands.

Also, whenever i

[2021-02-14 21:11] InkRF commented on #18
Well, adding line numbering seemed fix the issue, now when clicking refresh it refreshed, neat!

[2021-02-14 21:11] #18 closed

[2021-02-15 02:06] mikecentola commented on #18
That is odd for sure. I don't think I've experienced that. I've got 0.5 coming out this week hopefully too.

[2021-02-15 02:09] mikecentola commented on #17
Can you describe a little more what you're looking for?

[2021-02-15 02:13] mikecentola commented on #18
Figured it out. Had to fix an Enum in the code.

[2021-02-15 02:23] shadowbane900 commented on #17
in software such as cimco edit and predator editor can add line numbers i.e. N100 N110 and re number them as needed

[2021-02-15 02:30] mikecentola commented on #17
ok shouldn't be too hard to get that working. I'll add it to 0.6 roadmap.

[2021-02-15 15:24] InkRF commented on #18
Huh, glad to know it was not just user error, felt bad spamming the issues if that was the case, glad to see you found the problem/solution.
Take care!

[2021-02-22 11:31] florian-str opened #19 "Support for Open VSX"
It would be great if you could publish your plugin to Open VSX as well, as the [VSCoduim-Project](https://github.com/VSCodium/vscodium) moved to this repository as it's default source of extensions and there for you need workarounds to use your extension.

According to the [documentation](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions), it seems to be pretty easy to do and would imp

[2021-02-22 19:20] mikecentola commented on #19
That sounds like a good idea. I will look into this for sure!

[2021-03-06 22:37] BelKed opened #20 "Typo in CONTRIBUTING"
**Describe the bug**
In [CONTRIBUTING.md](https://github.com/appliedengdesign/vscode-gcode-syntax/blob/master/CONTRIBUTING.md) is typo in line

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/appliedengdesign/vscode-gcode-syntax/blob/master/CONTRIBUTING.md.
2. Scroll down to line

3. See error

**Expected behavior**
This line should be:

Submit a pull request to the d

[2021-03-08 11:36] BelKed opened #21 "Add hover text description of G-Codes"
**Suggest a Feature you'd like to see**
I suggest to add hover text description of G-Codes. Related to: https://github.com/Milys/NC-Gcode-VSCode/pull/9.

**Additional context**
When you hover G-Code, this should show short description and link to more info (source website).
Source website is: https://marlinfw.org/meta/gcode.

[2021-03-08 17:58] mikecentola commented on #20
Thank you!

[2021-03-09 05:09] mikecentola commented on #20
Just released v0.5.0. Fixed.

[2021-03-09 05:09] #20 closed

[2021-03-09 05:09] mikecentola commented on #21
Great idea. I'll see if I can swing it into 0.6

[2021-03-10 15:49] mikecentola opened #22 "RunTime Stats Error"
Bug in the Run time calculation. Circular interpolation causes NaN and fails to load the Stats Tree.

[2021-03-11 00:19] #22 closed

[2021-03-11 19:10] mikecentola commented on #19
Just waiting for verification of the publisher ID and I should be able to publish it over there.

[2021-03-12 20:23] mikecentola commented on #19
All set! Now available on Open-VSX :)

[https://open-vsx.org/extension/appliedengdesign/vscode-gcode-syntax](https://open-vsx.org/extension/appliedengdesign/vscode-gcode-syntax)

[2021-03-12 20:24] #19 closed

[2021-03-15 11:56] shapesorter commented on #21
If it would be possible to make this a configurable option, as many will not use Marlins G-code.  Fancy would be allowing links to documentation that is machine specific, or a file where we could build our own list.

[2021-03-15 11:57] BelKed commented on #21
Good suggestion. But that link should be link to API...

[2021-03-15 12:25] shapesorter commented on #21
I don't know how to do an API, but I understand the general idea, if there is help that I can give, as a CNC guy I would like to do it.  I do not know what that is, so when you see it say something to me.

[2021-03-15 13:32] mikecentola commented on #21
@shapesorter @BelKed  I decided to make my own NPM module for this. It is going to take JSON files that I wrote a schema for similar to Marlin. It'll have CNC Milling, CNC turning and 3D printing descriptions. I did it as a separate project so that people can contribute to the descriptions as well.

[gcode-reference](https://github.com/appliedengdesign/gcode-reference)

Also I'll put some logic in

[2021-03-15 13:33] mikecentola commented on #21
Could even build it out as a consumable API

[2021-03-15 13:33] BelKed commented on #21
Nice 😄

[2021-03-15 14:36] shapesorter commented on #21
Very

[2021-03-15 14:49] shapesorter commented on #21
Now all I have to to is figure out how to use it.  Any way you could screenshot where to add the g-code info?  I will be able to figure from there.

[2021-03-15 16:20] mikecentola commented on #21
@shapesorter I would LOVE for you guys to help out with the descrptions. Let me finish the schema and the basic code for the module and then I'll make an easy way for people to contribute to it.

[2021-03-15 16:22] BelKed commented on #21
I could help you, just write, when it's finished 😄

[2021-03-15 16:22] shapesorter commented on #21
Well, I would LOVE to help make it better.  Mostly I just use it as a coloring scheme, but the potential is great.

[2021-03-17 21:44] mikecentola commented on #21
@shapesorter @BelKed Made some progress drafting up a skeleton of the package. Have a look and let me know what you think. I wanted to at least get the JSON schema written and some skeleton files up there. Mainly check out the format of the JSON files, and let me know if that's enough information to store about each code. Thanks!

[gcode-reference](https://github.com/appliedengdesign/gcode-referen

[2021-03-18 08:30] BelKed commented on #21
I think, there should be also optional field `link` pointing to the source...

[2021-03-18 13:39] mikecentola commented on #21
@BelKed Like pointing back to a web reference of the same thing? Or to a different website that has it listed?

[2021-03-18 13:42] BelKed commented on #21
To a different website that has it listed – with examples or something like that...
For example: `M00` will point to https://marlinfw.org/docs/gcode/G000-G001.html

[2021-04-13 18:01] nverdonk opened #23 ".gcode Generated by Prusa Slicer Not Recognized"
**Describe the bug**
G-Code files produced by [PrusaSlicer](https://www.prusa3d.com/prusaslicer/) are not recognized or highlighted by extension.  They are .gcode file extensions.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate G-Code file using PrusaSlicer
2. Save file to Desktop
3. Open file in VS Code
4. Confirm file is not recognized as G-Code

**Expected behavior**
Expect the

[2021-04-14 14:57] mikecentola commented on #23
@nverdonk can you attach the file here so I can try it on my computer with the current dev version?

[2021-04-14 15:13] nverdonk commented on #23
@mikecentola Yes, here is a file to play around with.  I just sliced it now and confirmed the same issue is occurring.

Had to ZIP it as GitHub won't allow native upload of .gcode
[Drive Gear.zip](https://github.com/appliedengdesign/vscode-gcode-syntax/files/6311804/Drive.Gear.zip)

[2021-04-14 15:13] mikecentola commented on #23
@nverdonk I'm on it!

[2021-04-14 15:17] BelKed commented on #23
Visual Studio Code does not colorise that big files...
![Error](https://user-images.githubusercontent.com/66956532/114735063-1ecd3000-9d45-11eb-9b81-61b29ccf74f3.png)
You can enable it by clicking on "Forcefully Enable Features" or in settings – `editor.largeFileOptimizations`

[2021-04-14 15:25] mikecentola commented on #23
@nverdonk yup @belkid is correct. I got the same error

![image](https://user-images.githubusercontent.com/12663057/114736380-0abd0a80-9d14-11eb-9e65-edec9cb37667.png)

[2021-04-14 15:26] nverdonk commented on #23
### Highlighting Fixed
Toggling `editor.largeFileOptimizations` corrected the highlighting issue, but the G-Code Tree from the extension still claimed to not recognize the G-Code file.

This time, however, a loading bar showed up; perhaps the file is too large for the tree as well?
![gcode_tree](https://user-images.githubusercontent.com/46147269/114736479-f9b3cf80-9cfa-11eb-9609-4243a2d76436.gif)

[2021-04-14 15:27] mikecentola commented on #23
@nverdonk Could be because the file is so large. Let me do some investigating on that side as well.

[2021-04-14 15:41] nverdonk commented on #23
@mikecentola @BelKed Thank you for such quick responses and help!

@mikecentola I believe the file size is the issue with the tree.  I deleted pretty much the whole file (~550,000 lines to 374 lines) and the tree loads correctly now.
![image](https://user-images.githubusercontent.com/46147269/114738480-dbe76a00-9cfc-11eb-8594-30e5680e7ea1.png)

The tree would be so cumbersome for a file of that si

[2021-04-14 16:29] mikecentola commented on #23
No worries. I wonder if I should add a detection for large files to not even try if it's over a certain size.

[2021-04-14 23:42] nverdonk commented on #23
I think adding note or warning along the lines of

_This file exceeds maximum readable file size of _____ MB.  VS Code might disable highlighting and GCODE tree will not generate_

would help catch people in my situation in the future.

[2021-04-15 00:08] mikecentola commented on #23
@nverdonk yeah for sure. I'll see if I can find somewhere to add it. I'm working on the hover code right now.

[2021-04-15 16:05] mikecentola commented on #21
Oh boy!!

![image](https://user-images.githubusercontent.com/12663057/114901455-d2383200-9de2-11eb-8022-b2ef7f37d649.png)

[2021-04-19 01:34] mikecentola commented on #23
I added a warning popup for anything over 10K lines when autoRefresh is enabled.

[2021-04-19 15:25] Festivejelly opened #24 "Support for .g files."
## Support for .g files

**Additional context**
The plug doesnt seem to support .g files. Firmware such as reprapfirmware use .g files  for the configs of the duet boards. Would be handy to have it recognise this as gcode.

[2021-04-19 17:56] nverdonk commented on #23
I think that's a great addition and will save people a lot of headache in the future!  I'll close out the issue for now and we can reopen if needed.

[2021-04-19 17:56] #23 closed

[2021-04-19 20:23] mikecentola commented on #24
@Festivejelly It's added to the 0.6 that I'll be releasing tonight or tomorrow.

@shapesorter It's hardcoded into the `package.json` file:

[code]

[2021-04-20 20:42] mikecentola commented on #24
Added in v0.6.0

[2021-04-20 20:42] #24 closed

[2021-04-20 20:43] mikecentola commented on #21
Added to v0.6.0. Still need to work on more descriptions in [gcode-reference](https://github.com/appliedengdesign/gcode-reference

[2021-04-20 20:43] #21 closed

[2021-05-04 09:33] ganzuul opened #26 "My regexes"
Hi,
I noticed that coordinates X10.01 lose highlight-colors after the dot, so here are the regexes I have been using:

[code]

invalid.gcode warns about coordinates without a decimal point like "X100". It works together with settings.json in the .vscode folder of the workspace.

[code]
I hope these are useful to the project!

[2021-05-07 18:43] mikecentola commented on #26
Thanks! I'll get it into an update

[2021-05-07 22:40] mikecentola commented on #26
Fixed in v0.6.2

[2021-05-07 22:40] #26 closed

[2021-05-15 19:10] perfoWorks opened #27 "Important color coding"
Add an option for color coding where lines on-after G0 turns red, G1 turns green, G2,3 turns blue. Very important and useful feature for inspecting program. Thank you

![cimco](https://user-images.githubusercontent.com/51745987/118375403-600d6580-b5b9-11eb-8019-d2ee042ac3bc.jpg)

[2021-05-19 08:20] silopolis opened #28 "Add support for Siemens Sinumerik codes"
First thank you veeeery much for this excellent extension !

As I'm working on a Siemens Sinumerik (840d) driven machine, I'd love to see this NC's specific codes better supported for ".mpf" and ".spf" files, mainly for syntax highlighting.

For example blocks like:
* WORKPIECE(,,,,,,,,): for stock definition
* MSG(""): for operator messages
* T="TOOL_BY_NAME": for tool names
* TRANS/ATRANS, ROT/A

[2021-05-19 08:30] silopolis commented on #27
That indeed could be helpful as a toggle :+1:

[2021-05-19 08:36] silopolis commented on #17
This one too would be nice to have ! :+1:
Being able to act on whole program as well as selected blocks would be great.
Option to ignore blank lines and comment blocks (other specific blocks ?) would be nice.

[2021-05-26 16:04] mikecentola commented on #17
@silopolis Right now it acts on the whole file, but has the options to ignore blanks and comments in the settings. Shouldn't be too hard to add the ability to act on selected blocks.

[2021-05-26 17:41] silopolis commented on #17
Nice, thanks 👍🙏

[2021-05-27 01:28] mikecentola commented on #28
I'll add this to the feature list, but probably won't get to it in 0.7.X as I think it'll require a language server

[2021-06-16 22:14] zachallaun opened #29 "Highlighting inconsistency with macro variables & control functions"
First off, thanks for all the work that's been put into this! Really happy with it overall.

I ran into a couple highlighting issues while working on a macro. Please see the screenshot below. Things that seem "off" in the screenshot:

* `DO` and `GOTO` are being highlighted inconsistently (this seems to be the case on their own line as well)
* The last closing `]` on the `IF` line does not match t

[2021-06-22 02:20] patcon commented on #28
Also, really grateful to find this project! 🎉 And eager to meet someone else on GitHub who's using a sinumerik 840D, @silopolis 👋

For reference, some other projects doing syntax highlighting for sinumerik flavour g-code:
- https://github.com/staniska/sinumerik-highlight (atom editor)
- https://github.com/deathaxe/sublime-s840d (sublimetext3 editor)

[2021-08-05 01:51] mikecentola commented on #29
Probably happened when I tweaked the Regex's for the coloring on the last update. I'll try to get it fixed up in the next update!

[2021-08-23 07:49] 7enso opened #31 "Wrong "Tool Changes" count"
"M6" in comments is counted as tool change. This is problematic in some code cause "M6" also means metric 6 mm thread - for example in the description of a tool.

Leads to "Tool Changes" count being wrong.

[2021-09-11 04:20] laptop-laptop opened #32 "Some features are not working"
**Describe the bug**

Hi, first time user. Maybe i don't know how to use the extension properly.

After opening a gcode file in Visual Studio Code, although the syntax are colour coded, there is nothing shown under TREE. Do I need to do something like compiling or running? Since it is not a program for the PC, it may not work.

As for Hovers, sometimes it works but sometimes it doesn't. For exampl

[2021-09-11 19:59] laptop-laptop commented on #32
Not sure if this is related. I noticed that at the bottom right, I often get "File size is above 10K lines. Three / Stats refresh may not work." Can such limitation be lifted?

[2021-09-21 01:16] mikecentola commented on #32
The file size limit is there because it would take a long time to compute it. I can add a setting in there for it or a way to manually calculate the tree.

[2021-09-21 01:18] mikecentola commented on #31
Do you mean using M6 in a comment? I'm unfamiliar with where M6 would be used as an M-Code to indicate thread pitch.

[2021-09-24 18:17] laptop-laptop commented on #32
Yes, please do that. I am not familiar with Github. Will I be notified once it is added? When shall I check back?

[2021-09-28 11:53] 7enso commented on #31
Yes, I mean just using "M6" somewhere in the comments is counted as a tool change so the count gets wrong. Using M6 not as an M-Code but for naming a tool in the comments for example. M6 in the whole world outside the US means "Metric 6 mm thread" and is used often in naming thread milling tools.

https://en.wikipedia.org/wiki/ISO_metric_screw_thread

Maybe you can somehow ignore the patterns used

[2021-11-11 16:43] mikecentola commented on #31
@7enso yeah good call. I'll see if I can have it ignore anything in comments when it's calculating.

[2021-11-11 16:45] mikecentola commented on #32
@laptop-laptop I will be working on this shortly here. You should get a notification when it updates and I'll let you know on here. Thanks!

[2021-11-12 04:54] CoderAllan opened #34 "Exception in the debug console: `rejected promise not handled within 1 second: TypeError: Cannot read property 'substr' of undefined"
**Describe the bug**
In Visual Studio Code I'm currently developing an extension for processing GCode files.
When the extension is launched a new instance of VSCode opens where two gcode files are opened by default.
The moment I click on the gcode file that is not active the exception shown below is shown in the host VSCode instance debug console. See attached screenshot.

**Expected behavior**
Th

[2021-11-30 20:30] mikecentola commented on #31
Just fixed this in the dev code, so it'll be in the next release!

[2021-11-30 20:30] #31 closed

[2021-11-30 22:43] mikecentola commented on #29
Fixed in v0.7.0

[2021-11-30 22:43] #29 closed

[2021-11-30 22:43] mikecentola commented on #17
Line numbering added to v0.7

[2021-11-30 22:43] #17 closed

[2021-11-30 22:44] mikecentola commented on #32
Added the max filesize as user customizable in v0.7

[2021-11-30 22:44] #32 closed

[2021-11-30 22:45] mikecentola commented on #34
I can't seem to reproduce this on my end. I just updated the extension with the latest vscode engines. Give the new version a try and let me know if that helps it.

[2021-12-01 04:31] CoderAllan commented on #34
The extension has been updated to v0.7.0, but I still experience the same issue as you can see below.
But I noticed that the exception is only thrown for two of the files I'm testing with.
So the attached files Test1 and Test2 are both producing the error, but the Test3 is not producing the error.
[Test1.txt](https://github.com/appliedengdesign/vscode-gcode-syntax/files/7630854/Test1.txt)
[Test2.t

[2021-12-01 08:33] silopolis commented on #17
Le mar. 30 nov. 2021 à 23:44, Mike Centola ***@***.***> a
écrit :

Nice thanks 👍

[2021-12-02 19:49] mikecentola commented on #34
@CoderAllan OK let me download the files and try them here.

Side note, what kind of extension are your trying to make? Maybe we can incorporate it into this one?

[2021-12-02 20:36] mikecentola commented on #34
@CoderAllan figured it out. Working on a fix

[2021-12-03 04:07] CoderAllan commented on #34
The extension I'm working on is a preview function for gcode.

[2021-12-04 01:56] mikecentola commented on #34
Oh awesome? Like backplotting? I've been working on trying to integrate backplotting into this one. We should collaborate for sure.

[2021-12-04 04:58] CoderAllan commented on #34
Yes, like backplotting. 2D only because my focus is laser engraving. I have no idea how to even start doing anything in 3D in vscode.
I will make a fork of vscode-gcode-syntax and dump what I got into it so you can see it. But be warned, there is a lot of work to be done before this could be released and the code is very proof-of-concept-messy at the moment.

[2021-12-04 21:34] mikecentola commented on #34
@CoderAllan awesome! I'll check it out for sure.

[2022-02-10 08:07] mancebius opened #36 "add *.S file extension"
Good morning

Thanks for this extension , it's very useful. Could you add the .S file extension? In my work we use that and it would be very useful

Thank you

[2022-02-10 20:39] darkross67 commented on #28
@mikecentola, first of all thank you so much for creating this amazing extension !

It's been 5 years since I'm working as a CNC Engineer and programming for different CN controller, such as Heidenhain, NUM1060, FANUC and Siemens (840d), via CAD/CAM System like CATIA or PTC Creo.

I'm working a lot with NUM1060 language, and it really looks like GCode.

How can I do if I want to add this language,

[2022-02-12 20:56] mikecentola commented on #36
Sure can! Will add it to the next update!

[2022-05-17 01:53] mikecentola commented on #36
Updated in v0.7.1

[2022-05-17 01:53] #36 closed

[2022-05-17 01:54] mikecentola commented on #34
Fixed in v0.7.1

[2022-05-17 01:54] #34 closed

[2022-05-17 17:45] mancebius commented on #36
awesome! thank you!

[2022-06-03 19:29] CodeDabbler23 opened #39 "place holder with choices not working..."
when navigating through snippets that have choices, they are not presenting the options seen here...

![NoChoice](https://user-images.githubusercontent.com/35739725/171933883-77bbbc18-67f1-4384-b949-d946488f283a.png)

Here is the snippet...

![Code](https://user-images.githubusercontent.com/35739725/171934588-e58227b5-7dae-4dcb-9d43-0b1c43316c47.png)

Here are the current versions...

![Vers](http

[2022-06-09 13:07] CodeDabbler23 commented on #39
This is definitely not an issue with your code but either a VSCode thing or some change in TextMate, seen here...
![TheReason](https://user-images.githubusercontent.com/35739725/172853426-238cfd7d-31b7-4e36-8b6f-6e48580d45e9.png)

Not sure how to level this up to either of them?
I could change a lot of snippet code to include the text with each choice but that seems antithetical to clean code main

[2022-06-09 13:16] CodeDabbler23 commented on #39
I just sent this information to VSCode - the ref number is #151611

[2022-06-09 18:19] CodeDabbler23 commented on #39
They closed #151611 as they are aware of it and have it fixed in VSCode-insider edition - which does work - not sure how long until this will take to be fixed mainstream

[2022-06-19 11:36] GotAnAccount opened #40 "Highlighting not working properly"
**Describe the bug**
Highlighting is applied on letters only in whole words for a LinuxCNC g-code file.

For example:
    o<gotots> sub
Both letters "t" are highlited blue and should not.

**To Reproduce**
Steps to reproduce the behavior:

1. Simply open a g-code file and view.

**Expected behavior**
No highting should normally happen for these words.

**Screenshots**
![Capture](https://user-image

[2022-06-21 02:25] mikecentola commented on #40
I'll look into this ASAP. Thanks!

[2022-07-01 04:02] mikecentola commented on #40
Fixed in v0.7.2

[2022-07-01 11:17] GotAnAccount commented on #40
Hi,

Thank you for the changes. I updated it (v0.7.2) and I can still see some use cases where the problem still seems to exist.

Here is the screenshot for the "while" and "endsub" cases:
![image](https://user-images.githubusercontent.com/55237040/176883889-4cf857b6-1eff-41e6-a5a7-742845da2ce9.png)

Here is the screenshot for the "if" and "gt 0" and another "endsub":
![image](https://user-images.

[2022-07-05 11:36] beletruz opened #41 ".mpr support"
Files that are .mpr don't work properly, they don't get colored and the tree is wrong
![image](https://user-images.githubusercontent.com/14259848/177318799-2b9a72ab-7839-477f-8a96-1a53cc1f662c.png)

[2022-07-10 14:31] mikecentola commented on #40
Okay I'll push changes for the t/f/b regex tonight or tomorrow

[2022-07-10 14:39] mikecentola commented on #41
What machine tool is .mpr for? Since it's not standard g-code the tree won't work without some significant changes. I might be able to get the regexs to work but it might have to wait until I can develop the language server.

[2022-07-13 04:12] mikecentola commented on #40
@GotAnAccount Just pushed v0.7.3 with a bunch of fixes that should make editing the LinuxCNC ngc templates much nicer and more colorful :)

Let me know if it's working and we can close this issue out!

[2022-07-13 21:24] GotAnAccount commented on #40
OK, confirmed the changes did fix the issue.

Thanks Mike for your excellent work!

[2022-07-13 21:24] #40 closed

[2022-08-24 21:44] sslupsky opened #43 "auto update not working"
**Describe the bug**
I am not sure if you are aware but the latest version showing in the VSCode is 0.7.0 but I see there have been a few updates since then and the current version is 0.7.4.

[2022-08-24 21:46] sslupsky commented on #43
Here is a screenshot.
<img width="925" alt="Screen Shot 2022-08-24 at 3 45 08 PM" src="https://user-images.githubusercontent.com/16888734/186529180-cba9074f-32a5-4c67-8633-cf0bb9b6c0b6.png">

[2022-08-26 14:50] mikecentola commented on #43
@sslupsky what version is your VSCode? v0.7.4 requires `^1.69.0`

I'm showing this in mine:

![image](https://user-images.githubusercontent.com/12663057/186931895-2487c799-dc26-4632-befe-660f75a28198.png)

[2022-08-26 14:52] sslupsky commented on #43
I have tried it with both 1.69 and 1.70.  Currently on 1.69.2.

[2022-08-26 14:56] sslupsky commented on #43
Odd, today it appears to have updated somewhere along the way ... version shows 0.7.4 now.  How long does it typically take for an update to propagate?  Since I installed the plugin into a clean install of VSCode, I expected that 0.7.4 would have installed by default since no previous version of the extension was installed.  Also, I could not find any way to "force an update".

I'll close this iss

[2022-08-26 14:56] #43 closed

[2022-08-26 15:05] sslupsky opened #44 "color highlighting"
**Describe the bug**
Here is a screenshot of a few more of those highlighting anomalies.

![Screen Shot 2022-08-26 at 9 00 50 AM](https://user-images.githubusercontent.com/16888734/186935356-393c256d-6f13-47dc-8c45-22fe18284692.png)

**To Reproduce**
Download the surfacing macro from duet3d forum here:
https://forum.duet3d.com/topic/26762/surfacing-macro?loggedin=true

[code]

**Environment / Vers

[2022-08-26 20:22] mikecentola commented on #43
@sslupsky That is odd for sure and I've never seen that. Keep an eye on it and let me know anything like that happens again.

[2022-08-26 20:26] mikecentola commented on #44
These printer macros are going to be tough to fix the highlighting on  because of the nature of them being non-standard G-Code. with functions and keywords more like programming.

It is akin to something that hasn't been run through a post-processor yet. I'm not 100% sure how to deal with this, but once we dial in the machine choices and the language server, it might make doing this easier.

[2022-09-02 20:42] mikecentola opened #46 "Add Milling/Turning Calculators"
Add WebviewView for machining calculators

[2022-09-20 16:21] theGoldenLink opened #47 "Add or Remove Line Numbers Error following V0.7.5 Update"
Commands
 G-Code: G-Code: Remove Line Numbers
 G-Code: G-Code Add Line Numbers
These commands result in errors and will not add or remove line numbers.

Steps to reproduce the behavior:
With a g-code file open, (whether .txt, .nc)
1. Go to 'Command Palette.'
2. Click on 'G-Code: G-Code Add Line Numbers'
3. Error is made known by a pop-up presenting you with a phrase letting the user know the comma

[2022-09-21 14:38] mikecentola commented on #47
@theGoldenLink Can you let me know which settings you have enabled/disabled for the line numberer in configuration?

[2022-09-21 15:08] theGoldenLink commented on #47
Gcode > Line Numberer: Add Space After -- Enabled
Gcode > Line Numberer: Frequency -- Every Line (Default)
Gcode > Line Numberer: Ignore Blank -- Enabled
Gcode > Line Numberer: Ignore Comments -- Enabled
Gcode > Line Numberer: Ignore Program Numberer -- Enabled

[2022-09-21 15:15] mikecentola commented on #47
@theGoldenLink thanks. looking into it right now

[2022-09-21 21:17] mikecentola commented on #47
Ended up refactoring the entire line numberer with a bunch of new options and features as well. Tying up some loose ends with it right now and testing it out.

[2022-09-22 20:05] mikecentola commented on #47
Well it turns out that, it wasn't my line Numberer code at all. It's something to do with the way webpack bundles in production vs development. I couldn't reproduce the error on my machine when debugging, but when I opened another window with v0.7.5 installed, I could reproduce. At least the whole line numberer system is much better now and more suited to large files.

[2022-09-23 20:48] #47 closed

[2022-09-26 21:01] mikecentola commented on #46
Just a little more tweaking and should be able to merge into.

![image](https://user-images.githubusercontent.com/12663057/192379685-46f58d70-d8bf-411d-8770-d08c5180d687.png)

[2022-09-28 14:35] mikecentola commented on #46
![vscode-calc](https://user-images.githubusercontent.com/12663057/192807616-36324466-f9b8-413b-8643-9f7feb45f050.gif)

[2022-10-01 20:28] tyeth opened #51 "Code Folding in Tree if 3dp and Layer Comments in file"
## Suggest a Feature you'd like to see
I wish that my 3d printing gcode files would load in treeview happily. They are silly sizes (line count) and include a comment that is a base64 encoded image (64kb) so also silly line length.
 I wondered while reading the closed issue #23 if it couldn't be more gracefully handled if the file contains Layer markers as comments. If that was the case then the tr

[2022-10-11 18:25] alreai opened #52 "ToolChange Improvements on Tree"
Hi everyone!!

I am new at all here and I dont know so much of programming... sorry in advance!
I installed the extension to see lathe gcode:
- In lathes, we call a tool just saying _ex. T1212_. Without the M06 used on Mills. So the ToolChange does not appear in the Tree.
- In addition, it would be great if the comment (many people as me use to put after the T____ , to describe the tool) also appe

[2022-10-11 19:46] mikecentola commented on #51
Hey @tyeth I like those ideas. I'm planning a major update to the extension for v0.8.0 and working towards a 1.0 release that takes more advantage of the machine type choice and possibly even uses a comment at the beginning of the file to dictate to the extension what type of machine tool the code is for.

[2022-10-11 19:52] mikecentola commented on #52
Hi @alreai Thanks for the issue! It's something I'm working on with the machine types for the next major release. I too do most of my lathe code by hand so I have been working on a way to show tool changes for a lathe. It would have to be different than for a mill for instance with my Haas mill, I'll stage tools by calling _T12_ without an M06 so the tool changer will prep that tool for the next c

[2022-11-04 06:56] alarak233 opened #53 "syntax highlighting error"
hi everyone
The g-code with 'C' can't match more than 4 digits like this:

C8 X13.98488889 Z0.89909369
C8.2 X13.98488611 Z0.89920968
C8.4 X13.98488333 Z0.89930708
C8.6 X13.98488056 Z0.89938586
C8.8 X13.98487778 Z0.89944604
C9 X13.98487500 Z0.89948762
C9.2 X13.98487222 Z0.89951058
C9.4 X13.98486944 Z0.89951494
C9.6 X13.98486667 Z0.89950069
C9.8 X13.98486389 Z0.89946783
C10 X13.98486111 Z0.89941636

[2022-11-09 22:12] mikecentola commented on #53
@alarak233 curious... what model is this for? 3D printer or Mill/Lathe?

[2022-11-10 00:29] alarak233 commented on #53
Slow Tool Servo is used for the rapid manufacture of large departure freeform components on an Ultra Precision Diamond Turning Lathe.

[2022-11-10 21:08] mikecentola commented on #53
Very cool!

[2022-11-10 22:21] #53 closed

[2022-11-11 22:18] #46 closed

[2022-11-28 15:56] chrishamm opened #56 "Add support for RepRapFirmware meta G-code keywords"
First of all, thank you very much for this extension - it looks great and if possible, I would really like to use the syntax highlighting from this project with Monaco in a web application to provide a nicer G-code editor.

What I've been missing is briefly mentioned in #44: Syntax highlighting for RepRapFirmware G-code keywords and expressions.

With RepRapFirmware it is possible to use variables